<!-- V2 - Reactive forms - ***FIGHT*** -->
<form [formGroup]="form" (submit)="showFormValues()">
<div>
  <label for="first-name-input">First Name:</label>
  <input id="first-name-input" type="text" formControlName="firstNameInput">
</div>

<div>
  <label>Last Name</label>
  <input type="text" formControlName="lastNameInput">
</div>

  <div>
    <label>Phone</label>
    <input type="text" formControlName="phoneInput">
  </div>
  <fieldset formGroupName="addressGroup">
    <legend>Address</legend>

    <div>
      <label>Street:</label>
      <input type="text" formControlName="streetInput">
    </div>

    <div>
      <label>City</label>
      <input type="text" formControlName="cityInput">
    </div>
  </fieldset>
  <button>Submit</button>
</form>
